/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
wx.log
wx_user.log
public/wx_media
public/MP_verify_4ffLfWCMOar9VvJ4.txt
MP_verify_4ffLfWCMOar9VvJ4.txt
public/qrscene
